

<% 
@temas.each_with_index do |tema, index| %>


<div class="nav theme<%=index%>">
	<h1><%= tema.title %></h1>
  <% tema.items.each do |item| %>
  	<a href="#"><%= item.name %></a>
  <% end %>
</div>

<% 
end 
%>


